.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above everything else */
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    max-width: 800px; /* or any max-width or full-width as needed */
    width: 100%;
    max-height: 90vh;
    overflow-y: auto; /* In case content is too long */
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Ensures content is spaced out to the sides */
    align-items: flex-start;
    position: relative;
  }

  .modal-title {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
  }

  .modal-title-container {
    display: flex;
  }
  
  .favorite-star-detail {
    margin-left: 10px; /* Space between the name and the star */
    cursor: pointer; /* Indicates the star is clickable */
    width: 24px; /* Optional: Adjust size as needed */
    height: 24px; /* Optional: Adjust size as needed */
  }

  .modal-left {
    flex-grow: 1;
    padding: 20px;
}

.map-container {
    width: 400px; /* Adjust the size as necessary */
    height: 400px; /* Adjust the size as necessary */
}


  .conditions-toggle,
  .lifts-toggle {
    cursor: pointer;
    font-weight: bold;
    /* Add any other styles for your toggle */
  }
  
  .arrow {
    display: inline-block;
    margin-left: 5px;
    /* Styling the arrow to look like a dropdown arrow */
    /* This is a simple implementation, you
  can add more styles as needed */
  }
  
  .arrow.down::before {
  content: '▼'; /* Unicode down arrow */
  font-size: 1em;
  }
  
  .arrow.up::before {
  content: '▲'; /*
  Unicode up arrow */
  font-size: 1em;
  }
  
  .conditions-list {
  display: none;
  }
  
  .conditions-list.show,
  .lifts-list.show {
  display: block;
  }

  .condition-item {
    margin: 5px 0;
  }

  .lift-item {
    display: flex;
    justify-content: space-between; /* Ensures that the lift name and status are on opposite ends */
    align-items: center; /* Centers them vertically */
    padding: 5px 0; /* Adds some padding for visual space */
  }
  
  .lift-status-open, .lift-status-closed {
    padding: 3px 6px;
    border-radius: 4px;
    color: white; /* Ensures text color is white */
  }
  
  .lift-status-open {
    background-color: green; /* Visual cue for open */
  }
  
  .close-button {
    background-color: transparent;
    border: 1px solid #333;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute; /* Ensure it's absolutely positioned */
    top: 10px; /* Distance from the top of the modal */
    left: 10px; /* Distance from the left of the modal */
    font-weight: bold;
    font-size: 16px;
    color: #333;
    transition: background-color 0.2s, color 0.2s;
}

.close-button:hover {
    background-color: #333;
    color: #fff;
}

.close-button:focus {
    outline: none; /* Removing the focus outline */
}

/* Tooltips for the close button 
.close-button::after {
    content: attr(title);
    visibility: hidden; 
    background-color: #333; 
    color: #fff; 
    text-align: center;
    border-radius: 5px; 
    padding: 5px 10px; 
    position: absolute;
    z-index: 1; 
    bottom: 100%; 
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 12px; 
    white-space: nowrap; 
    transition: visibility 0.2s, opacity 0.2s ease-in-out;
    opacity: 0;
}*/ß

.close-button:hover::after {
    visibility: visible; /* Show the tooltip on hover */
    opacity: 1; /* Make it opaque */
}

  .weather-title {
    font-size: 18px; /* or any other size you prefer */
    font-weight: bold;
  }

  .weather-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .weather-toggle .arrow {
    transition: transform 0.3s ease;
  }

  .forecast-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between; /* This will push the date and icon to one end and the arrow to the other */
    padding: 5px 0; /* Adds padding for better spacing */
  }
  
  .weather-icon {
    margin: 0 10px; /* Adds margin between the icon and the arrow */
    width: 24px;
    height: 24px;
  }
  
  .forecast-toggle strong {
    margin-right: 8px;  /* Adjust spacing as needed */
  }
  