/* src/styles/MountainCard.css */
.mountain-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
  }
  
  .mountain-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .mountain-name {
    font-size: 2em;
    color: #333;
    margin-bottom: 0.5em;
  }
  
  .mountain-info {
    margin-top: 0.5em;
    color: #555;
    font-size: 0.9em;
  }
  
  .mountain-region {
    font-size: 1em;
    color: #666;
  }

  .mountain-details {
    display: none; /* Hide details by default */
    padding-top: 1em;
  }
  
  .mountain-card.expanded .mountain-details {
    display: block; /* Show details when expanded */
  }
  
  /* Add specific styles for the number of lifts open */
  .mountain-lifts {
    margin-top: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
  }

  .favorite-star {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
    stroke: black; /* This ensures the stroke is black */
    stroke-width: 1px; /* Adjust as needed for outline thickness */
    z-index: 10;
  }


  